<table>
    <th colspan="5">Active Sessions</th>
    <table>
        <th>Active Sessions</th>
        <tr>
            <td>First Name</td>
            <td>Last Name</td>
            <td>Email</td>
            <td>Username</td>
            <td>Last Login</td>
        </tr>
        <th:block th:each="user : ${users}">
            <tr>
                <td th:text="${user.firstName}"></td>
                <td th:text="${user.lastName}"></td>
                <td th:text="${user.email}"></td>
                <td th:text="${user.username}"></td>
                <td> Under Construction </td>
            </tr>
        </th:block>
    </table>
    <a class="btn btn-default" th:href="@{/admin}">Back</a>
</table>
