<table style="border: 3px solid black">
    <th colspan="5">Administration Panel</th>
    <tr>
        <td>
            <span>Role Management</span>
        </td>
        <td>
            <span>Active Sessions</span>
        </td>
        <td>
            <span>Tavern Management</span>
        </td>
        <td>
            <span>Adventures Management</span>
        </td>
        <td>
            <span>Dungeons Management</span>
        </td>
    </tr>
    <tr>
        <td>
            <a class="btn btn-default" th:href="@{/admin/role-management}">Manage</a>
        </td>
        <td>
            <a class="btn btn-default" th:href="@{/admin/active-sessions}">Manage</a>
        </td>
        <td>
            <a class="btn btn-default" th:href="@{/admin/tavern-management}">Manage</a>
        </td>
        <td>
            <a class="btn btn-default" th:href="@{/admin/adventures-management}">Manage</a>
        </td>
        <td>
            <a class="btn btn-default" th:href="@{/admin/dungeons-management}">Manage</a>
        </td>
    </tr>
</table>
