<main>
    <div class="container body-content span=8 offset=2">
        <div class="well">
            <form class="form-horizontal" th:action="@{/dungeons}" method="post">
                <fieldset>
                    <legend>Add Dungeon</legend>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="name">Name</label>
                        <div class="col-sm-4 ">
                            <input class="form-control" type="text" id="name" th:value="${name}"
                                   placeholder="Hero Name" name="name"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label">Adventure</label>
                        <div class="col-sm-4 ">
                            <input type="checkbox" th:each="adventure, index : *{adventures}"
                                    th:text="${adventure.name}"
                                    th:value="${adventure.id}" th:name="adventure">

                            </input>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-4">
                            <a class="btn btn-default" th:href="@{/admin}">Cancel</a>
                            <input value="Submit" type="submit" class="btn btn-primary"/></div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</main>